.settings .login-form {
  margin-bottom: 0;
}
.setting-form {
  /* margin: 20px auto;
    margin-bottom: 20px; */
  padding: 0 20px;
  position: relative;
  width: 400px;
}
div.container.settings h3, .container.settings h3{
  margin: 7px 0 7px 16px;
}
.setting-form .current-email{
  position: absolute;
  top: 2px;
  right: 24px;
}

.setting-form .field-form__button, .setting-form button.field-form__button{
  margin: 10px 0px 10px -4px;
  background-color: #fff;
  color: #4a2be2;
  border: 1px solid #4a2be2;;
}

/* .setting-form div.logout-form div.buttonComp button{
  margin: 10px 0px 10px -4px;
  background-color: #fff;
  color: #c1152c;
  border: 1px solid #c1152c;  
} */